  @import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

  body {
      background: url('https://img.freepik.com/fotos-premium/ceu-alaranjado-azul-do-por-do-sol-com-sol-e-nuvens-coloridas_104337-7374.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      
  }

  #card {
      background-color: #ffffff;
      /* Cor de fundo branca */
      border-radius: 20px;
      /* Bordas arredondadas */
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      /* Sombra suave */
      padding: 40px;
      /* Espaçamento interno */
      max-width: 500px;
      /* Largura máxima do card */
      text-align: center;
      /* Centraliza o texto */
  }



  h1 {
      font-family: "Sixtyfour", sans-serif;
      color: rgb(0, 0, 0);
      text-align: center;
  }


  #desktop {
      height: 300px;
      border-radius: 20px;
  }

  /*Estilo para o parágrafo*/
  p {
      font-size: 12px;
      font-weight: 600;
      line-height: 1.5;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
  }

  /*estilo de imagem*/

  img {
      display: block;
      margin: 20px auto;
      width: 500px;
      height: 400px;
      object-fit: cover;
      object-position: center;
  }

  .legenda-foto {
      font-size: 12px;
      font-style: italic;

  }